# env

# This is a template for the environment variables used in the project.
# Copy this file to .env and fill in the appropriate values.

# Base URL for the public API
VITE_PUBLIC_API_URL=your-api-url-here
