@import 'tailwindcss';
@import "tw-animate-css";
@config "../../tailwind.config.ts";

:root {
  --main: #FD9745;
  --overlay: rgba(54, 27, 27, 0.8); /* background color overlay for alert dialogs, modals, etc. */

  --bg: #fff4e0;
  --bw: #fff; /* white and secondary black e.g. utility class variant would be: bg-[#fff] dark:bg-[#212121] */
  --blank: #000; /* blank black and white */
  --border: #000;
  --text: #000;
  --mtext: #000; /* text that is placed on background with main color e.g. text color of default button */
  --ring: #000;
  --ring-offset: #fff;

  --border-radius: 5px;
  --box-shadow-x: -6px;
  --box-shadow-y: 4px;
  --reverse-box-shadow-x: 6px;
  --reverse-box-shadow-y: -4px;
  --base-font-weight: 500;
  --heading-font-weight: 700;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}

.dark {
  --bg: #272933;
  --bw: #212121;
  --blank: #fff;
  --border: #000;
  --text: #e6e6e6;
  --mtext: #000;
  --ring: #fff;
  --ring-offset: #000;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}

/* Customs class */
.container-border {
  @apply border-2 border-border rounded-md bg-white;
}

.container-grid {
  @apply grid place-content-start grid-cols-[repeat(auto-fit,_minmax(min(100%,_30ch),_1fr))] gap-3.5;
}

